{% extends 'layout/base.html' %}

{% block title %}Главная{% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'captive/css/index.css' %}">
{% endblock %}

{% block content %}

    {#    Верхнее меню с выбором города #}
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="location">
                    <i class="fas fa-street-view" id="local-people"></i> <i>Москва</i>
                </div>

                <nav class="nav">
                    <a href="#" class="nav__link">Магазины</a>
                    <a href="#" class="nav__link">Бизнес</a>
                    <a href="#" class="nav__link">Помощь</a>
                </nav>
            </div>
        </div>
    </header>



    {# Search and navigation #}
    <header class="top__header">
        <div class="container">
            <div class="top_header_top">
                <div class="logo">

                </div>
            </div>
        </div>
    </header>

{% endblock %}













{# Адаптация под телефоны #}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
</button>

{# Список выпадающий #}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="#" class="nav-link">
                Главная
            </a>
        </li>
    </ul>

</div>